<!DOCTYPE html>
<html>

<head>
    <title>Scribble</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <h1><a href="/">This Is Scribble</a></h1>

    <%= yield %>
</body>

</html>

